# Credit Default Risk Prediction

In [38]:
#Importing necessary libraries
import pandas as pd

In [39]:
credit_df=pd.read_csv('Credit_default_dataset.csv')
credit_df.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [40]:
#Removing ID column as its irrelevant in the analysis
credit_df=credit_df.drop(['ID'],axis=1)
credit_df.head(5)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [42]:
education_counts = credit_df['EDUCATION'].value_counts()

In [43]:
education_counts

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [45]:
#Map unknown values that is 0,5,6 to 4 in the education column

In [46]:
credit_df["EDUCATION"]=credit_df["EDUCATION"].map({0:4,1:1,2:2,3:3,4:4,5:4,6:4})

In [51]:
Marriage_counts = credit_df['MARRIAGE'].value_counts()
Marriage_counts

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [52]:
#Mapping unknown value 0 in Marriage column to 3
credit_df["MARRIAGE"]=credit_df["MARRIAGE"].map({0:3,1:1,2:2,3:3})

In [53]:
from sklearn.preprocessing import StandardScaler
scaling=StandardScaler()
X=credit_df.drop(['default.payment.next.month'], axis=1)
X=scaling.fit_transform(X)

In [54]:
y=credit_df['default.payment.next.month']

In [55]:
#parameters for analysis
params={
    "learning_rate" :[0.05, 0.10, 0.15, 0.20, 0.25, 0.30],
    "max_dept"      :[3,4,5,6,8,10,12],
    "min_child_weight":[1,3,5,7],
    "gamma"         :[0.0,0.1,0.2,0.3,0.4],
    "colsample_bytree" :[0.2,0.3,0.5,0.7]
}

In [57]:
pip install xgboost #downloading xgboost module

Collecting xgboost
  Downloading xgboost-2.0.0-py3-none-win_amd64.whl (99.7 MB)
     ---------------------------------------- 99.7/99.7 MB 4.5 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\rayu0\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\rayu0\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [59]:
#parameter optimization using RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [60]:
classifier=xgboost.XGBClassifier()

In [62]:
random_search=RandomizedSearchCV(classifier,params,n_iter=5,scoring='roc_auc',n_jobs=-1,cv=5,verbose=3)

In [83]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time

In [84]:
from datetime import datetime
start_time=timer(None)
random_search.fit(X,y)
timer(start_time)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [17:56:59] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)

In [85]:
random_search.best_estimator_

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.3, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=0.1, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.05, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_dept=6, max_depth=None, max_leaves=None,
              min_child_weight=5, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, ...)

In [89]:
classifier=xgboost.XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.3, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=0.1, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.05, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_dept=6, max_leaves=None,
              min_child_weight=5, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None)

In [90]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(classifier,X,y,cv=10)

C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:19] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:20] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:20] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:21] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:21] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\rayu0\anaconda3\lib\site-packages\xgboost\core.py:160: UserWarning: [18:02:22] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0cec3277c4d9d0165-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)

In [91]:
score

array([0.80166667, 0.81      , 0.80933333, 0.80533333, 0.809     ,
       0.82033333, 0.82566667, 0.823     , 0.821     , 0.81733333])

In [92]:
score.mean()

0.8142666666666667